body::-webkit-scrollbar {
    width: 12px;   /* Largura da scroll */
}
body::-webkit-scrollbar-track {
    background: #010134;        /* Cor fundo da scroll */
}
body::-webkit-scrollbar-thumb {
    background-color: #020259;    /* Cor da barra móvel da scroll */
    border-radius: 20px;       /* Borda arredondada */
    border: 3px solid purple;  /* Padding */
}
::selection {
    background-color: purple;
    color: whitesmoke;
}


*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

body {
    margin: 0;
    background-color: #010134;
}

/* CABEÇALHO */
.header {
    border-bottom: 3px solid purple;
    background-color: #010134;
    margin: 0px;
}

.header .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: purple;
}

.header u {
    color: rgb(203, 41, 203);
    font-weight: bold;
}

.header h1 {
    color: whitesmoke;
    height: 40px;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

/* BODY / CORPO */
.container {
    display: flex;
    margin: auto;
}

.banner {
    /* background-image: url(https://assets-us-01.kc-usercontent.com/31dbcbc6-da4c-0033-328a-d7621d0fa726/5b1cca65-314d-441d-8577-5ec9da43627e/Apple%20TV%20-%20UEFA%20Champions%20League.png); */
    background-image: url(../assets/banner_login&cadastro.png);
    height: 550px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.banner img {
    height: 350px;
    margin-right: 80px;
    border-radius: 20px;
    border: 7px solid black;
}

/* INÍCIO DA ESTILIZAÇÃO FORMULÁRIO */
.caixa_formulario {
    /* background-image: ("https://assets-us-01.kc-usercontent.com/31dbcbc6-da4c-0033-328a-d7621d0fa726/5b1cca65-314d-441d-8577-5ec9da43627e/Apple%20TV%20-%20UEFA%20Champions%20League.png"); */
    background-image: url(../assets/banner_login&cadastro.png);
    width: 400px;
    height: 450px;
    color: whitesmoke;
    border: solid 4px purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
}

.formulario button {
    cursor: pointer;
    margin-top: 10px;
    background: purple;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}

.formulario a {
    text-decoration: none;
    color: whitesmoke;
}

.formulario input {
    padding: 10px 30px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 10px;
}

.formulario select {
    padding: 10px 30px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 10px;
}

.formulario span {
    font-size: 15px;
    font-weight: bold;
}