body::-webkit-scrollbar {
    width: 12px;   /* Largura da scroll */
}
body::-webkit-scrollbar-track {
    background: #010134;        /* Cor fundo da scroll */
}
body::-webkit-scrollbar-thumb {
    background-color: #020259;    /* Cor da barra móvel da scroll */
    border-radius: 20px;       /* Borda arredondada */
    border: 3px solid purple;  /* Padding */
}
::selection {
    background-color: purple;
    color: whitesmoke;
}


*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

body {
    margin: 0;
}

/* TELA INICIAL DO QUIZ */
.header {
    border-bottom: 3px solid purple;
    background-color: #010134;
    margin: 0px;
}

.header .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: purple;
}

.header h1 {
    color: whitesmoke;
    height: 45px;
    align-self: center;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

/* BODY / CORPO */
.container {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    padding: 15px;
}

.banner h1 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.banner .container {
    font-size: 20px;
    color: whitesmoke;
    border: 3px solid purple;
}

.formulario span {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
}

.formulario select {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: whitesmoke;
    background-color: purple;
}

.formulario button {
    margin-top: 10px;
    background: purple;
    color: whitesmoke;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
    width: 130px;
}

.banner {
    background-image: url(https://i.pinimg.com/originals/5a/09/64/5a0964c1feade1581910d7398dde556e.jpg);
    background-size: cover;
}
