body::-webkit-scrollbar {
    width: 12px;   /* Largura da scroll */
}
body::-webkit-scrollbar-track {
    background: #010134;        /* Cor fundo da scroll */
}
body::-webkit-scrollbar-thumb {
    background-color: #020259;    /* Cor da barra móvel da scroll */
    border-radius: 20px;       /* Borda arredondada */
    border: 3px solid purple;  /* Padding */
}
::selection {
    background-color: purple;
    color: whitesmoke;
}


*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

body {
    margin: 0;
}

/* TELA INICIAL DO QUIZ */
.header {
    border-bottom: 3px solid purple;
    background-color: #010134;
    margin: 0px;
}

.header .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: purple;
}

.header h1 {
    color: whitesmoke;
    height: 40px;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

/* BODY / CORPO */
.container {
    margin: auto;
}

.banner {
    background-image: url(https://assets-us-01.kc-usercontent.com/31dbcbc6-da4c-0033-328a-d7621d0fa726/5b1cca65-314d-441d-8577-5ec9da43627e/Apple%20TV%20-%20UEFA%20Champions%20League.png);
    height: 545px;
    display: flex;
    background-size: cover;
    align-items: center;
}

.banner img {
    height: 350px;
    margin-right: 80px;
    border-radius: 20px;
    border: 4px solid lightseagreen;
}

.formulario {
    width: 500px;
}

.container h1 {
    color: whitesmoke;
}

.formulario button {
    background-color: #010134;
    border: 5px solid purple;
    margin-top: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
    width: 110px;  
}

.container a {
    text-decoration: none; 
    color: whitesmoke; 
}


.formulario span {
    color: whitesmoke;
    font-size: 25px;
}   